.header {
    background: #628395;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: aliceblue;
    box-shadow: 0px 7px 50px 1px rgba(68, 53, 53, 0.2);
    width: 100%;
  }
  
  .header__left {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5px;
    margin-right: 10px;
  } 
  
  .header__left__title {
    font-size: 36px;
    margin-left: 30px;
  }
  
  .header__links {
    margin-right: 30px;
    font-size: 20px;
    color: azure;
    text-decoration: none;
  }
  
  .active {
    color: #ccc4be;

  }

  